:root {
  --background-color: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  --first-color: #155263;
  --second-color: #7ec2d4;
  --third-color: #ff9a3c;

  --heading-font-family: "Playfair Display", serif;
}
head {
  background-color: #104857;
}

nav {
  background: #104857;
  /* opacity: 0.4; */
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hand {
  font-size: 36px; /* Adjust as needed */
  position: absolute;
  top: 10;
  left: 50%;
  margin-left: -18px; /* Adjust as needed */
  animation: wave 2s infinite;
}
.kcm-logo {
  max-width: 100px;
}

.hero {
  background-image: url("images\maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 35% bottom 45%;
  /* opacity: 0.4; */
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
}
h1 {
  color: var(--second-color);
  font-family: var(--heading-font-family);
  font-size: 54px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: var(--second-color);
  font-weight: bold;
  opacity: 1;
  font-size: 30px;
  text-align: center;
}

h3 {
  color: var(--second-color);
  font-weight: bold;
  opacity: 1;
  font-size: 30px;
  text-align: center;
}

#info {
  text-align: center;
  display: block;
  width: 60%;
  margin: auto;
  border: 1px solid #7ec2d4;
  background-color: #7ec2d4;
  box-shadow: 10px 10px 5px #afc5ca91;
  border-radius: 5px;
  padding: 30px;
  color: #a16c4dc4;
  font-size: 18px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

li {
  border: 1px solid #7ec2d4;
  background-color: #7ec2d4;
  color: #a16c4d54;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

li:hover {
  cursor: pointer;
  color: #76bdd1;
  border: 1px solid #aa9179fb;
  background-color: #aa9179fb;
}
a:visited {
  color: #ffc93c;
  background-color: #ff9a3c;
}

.homepage {
  color: #ff9a3c;
}

.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.croissant-image {
  height: 50px;
}

button {
  background-color: #7ec2d4;
}
